[2019-11-09 08:45] blocklee opened #14 "qitmeer-wallet使用教程"
## Qitmeer Wallet 使用教程
### 第一步：克隆代码，编译钱包 (download and build)

you can download from release. //你可以直接从 release下载
if you have golang environment, you can build it by yourself. //如果有 golong 环境，可以自己编译

[code]

使用帮助说明：`$ ./qitmeer-wallet.exe qc --help`

[code]

### 第二步：使用命令行创建钱包 （How to use qitmeer-wallet console command model）
- 修改配置文件 config.toml
  主要配置项：节点信息

[code]

- 用 `qitmeer-wallet qc create`

[2019-11-09 08:49] blocklee commented on #14
@dindinw 这个中文教程过下目，没什么问题，我觉得是否可以和 readme 关联起来

[2019-11-15 11:05] jamesvan2019 commented on #16
https://github.com/Qitmeer/qitmeer-wallet/blob/e5f10bd0250265b369e3801e568cb837352dce04/wallet/wallet.go#L475
I think may be fixed like
[code]
get txs from untxouts

https://github.com/Qitmeer/qitmeer-wallet/blob/e5f10bd0250265b369e3801e568cb837352dce04/wallet/wallet.go#L676
should filter Txsvalid
[code]

[2019-12-23 13:18] blocklee opened #12 "compile error"
![001wallet](https://user-images.githubusercontent.com/32875657/71360049-77654080-25c9-11ea-90e8-2dc87f3f5980.png)
![002wallet](https://user-images.githubusercontent.com/32875657/71360058-7d5b2180-25c9-11ea-97a9-8d8fd41587af.png)
![003wallet](https://user-images.githubusercontent.com/32875657/71360067-84822f80-25c9-11ea-8097-86704b19a005.png)
![004wallet](https://user-images.githubusercontent.com/

[2020-01-01 05:08] rlinxy opened #13 "钱包转账失败"
按教程
https://www.qitmeertalk.org/t/qitmeer-wallet-pc/927
尝试转账

$ ./qitmeer-wallet qc listaccountsbalance
default:0
imported:37800
$ ./qitmeer-wallet qc sendtoaddress TmhEDGfGAEuV5rWkVgCXXXXXXXXXXXX 8 123456
sendToAddress: error -32603: balance is not enough

[2020-01-01 05:08] rlinxy commented on #13
是哪里做错了么？还是怎么才能用imported账户支付转账金额？谢谢

[2020-01-02 11:02] dindinw commented on #13
@rlinxy please try the latest code.

[2020-01-02 14:31] neal-zhu opened #16 "钱包如何转账"
编译好钱包之后，使用命令：
[code]
报错：
[code]
config.toml :
[code]

[2020-01-03 10:57] blocklee commented on #16
你的配置里的 public key 是：
WalletPass = "123456"

那么在你创建钱包的时候是否用的是 “123456”呢

错误 `openWallet err:invalid passphrase for master public key` 是你配置里的public 密码和你创建钱包时用的不一样造成的。

[2020-01-03 11:04] blocklee commented on #16
另外，你的配置选择的 local：`QitmeerdSelect = "local"`，但是在你的  [[Qitmeerds]]  里并没用一套关于 local 的rpc配置，只有一个`Name = "node10" ` 的配置，这也可能也是一个问题，不知道你上半截的配置是否是和 local 节点相匹配？

如果你 `Name = "node10" ` 这套配置对应的是 local 节点，建议你改为 `Name = "local"`

[2020-01-03 17:24] #16 closed, assigned to luoshan654

[2020-01-03 17:24] #13 closed, assigned to nobody

[2020-01-06 10:03] dindinw commented on #12
@blocklee  Please try the latest code. the Makefile has never been tried in the windows (MINGW) environment.  Looks the go build is ok. You can ignore the js error if you are not using the web mode.
BTW, better to provide txt error msg output, I could hardly recognize words in your screen shoots.

[2020-01-07 06:41] rlinxy opened #20 "是否有批量转账功能？"
如果没有批量转账，例如bitcoin的sendmany，那么能否开发个批量支付接口。

矿池之类大规模支付场景下，调用sendtoaddress一个一个支付不太合适。会有各种问题，例如一个50000的utxo，支付300个后就要冻结整个utxo直到找零确认后，才能用剩下的49700。

手机kahf钱包有批量支付，那现成代码可否移植到qitmeer-wallet呢？

谢谢

[2020-01-07 14:13] bbkbk222 commented on #20
为什么没人回复

[2020-01-08 01:47] dindinw commented on #20
@rlinxy if you want RPC like https://bitcoincore.org/en/doc/0.16.0/rpc/wallet/sendmany/,  please help us to create to benefit the community. Your PR is welcome. `kahf-wallet` remains a different implementation based on a different source, which is commercial software, what their maintainer's decision is independent with the `qitmeer-wallet` project.
@bbkbk222 When we call software “free,” we mean

[2020-05-14 04:16] #20 closed, assigned to nobody

[2020-05-14 04:16] #12 closed, assigned to nobody

[2020-06-25 05:50] rlinxy opened #23 "Tx decode failed when calling wallet_sendToMany, Qitmeer 0.9.0"
When calling the 'wallet_sendToMany', we got the error below:

Failed to sendmany: -32603: sendPostRequest: resp.Error: {"jsonrpc":"2.0","id":1,"error":{"code":-32000,"message":"Deserialization Error : Could not decode Tx: Tx.decodeWitness: non equal witness and prefix txin quantities (witness 68, prefix 101)"}}

Seems the wallet can not work with the new version 0.9.0 of Qitmeer.

Please update t

[2020-06-26 16:00] blocklee commented on #23
The problem has been fixed, the test is available, will merge as soon as possible, please pay attention to the code update.

[2020-06-28 02:08] dindinw commented on #23
@rlinxy `wallet_sendToMany` command does not (EVER) exist under THIS codebase. Please let me know which version you are using.
@blocklee let me know how the issue HAS been fixed?

[2020-06-28 03:03] dindinw commented on #23
@rlinxy the compatible issue for 0.9.0 network has been fixed by the commit https://github.com/Qitmeer/qitmeer-wallet/commit/cff31ef6f376dfb22ba9a18b21f7a3dd2febe8bc. Your command 'wallet_sendToMany' yet not be supported by THIS `qitmeer-wallet`

[2020-06-28 04:17] rlinxy commented on #23
@dindinw The previous wallet dev provided his personal repo
https://github.com/luoshan654/qitmeer-wallet
Our pool has been using this wallet_sendToMany API for batch payment for the last several months.

[2020-06-28 04:24] rlinxy commented on #23
We successfully made several payments yesterday after the hard fork. But we are currently stuck here:

`sendPostRequest: resp.Error: {"jsonrpc":"2.0","id":1,"error":{"code":-32000,"message":"Rule Error : Rejected transaction be443f78ecac8af02f32a7d9fcacbaf23e1685d0b5c74610bc128824fc637cc0: orphan transaction be443f78ecac8af02f32a7d9fcacbaf23e1685d0b5c74610bc128824fc637cc0 references outputs of unk

[2020-06-28 09:11] dindinw commented on #23
@rlinxy the issue is caused by a bug in the 0.9.0 tx RPC API which results in a wrong hash value for some`coinbase` transactions, and it has been fixed by https://github.com/Qitmeer/qitmeer/commit/44d52b892c641e47d4034d1153c32774fe0e8fda . Please use the `qitmeer` [master](https://github.com/Qitmeer/qitmeer) code (0.9.1-dev), We will issue a 0.9.1 release soon.

[2020-06-28 09:32] dindinw commented on #23
@rlinxy #22 has been merged. I think you can try 'SendToMany' now. Please make sure to use the latest trunk version 0.9.1 of `qitmeer` when you doing your test.

[2020-06-29 08:34] dindinw commented on #23
@rlinxy the issue is fixed & closed. Please reopen it if any further problems.

[2020-06-29 08:34] #23 closed, assigned to nobody

[2020-06-30 11:11] t01001 opened #29 "required maturity of 720 blocks"
cmd:
qitmeer-wallet -c  config.toml --confirmations 720  qc sendtoaddress $ADDR $AMOUNT $PASS

error:
sendToAddress: error -32603: sendPostRequest: resp.Error: {"jsonrpc":"2.0","id":1,"error":{"code":-32000,"message":"Rule Error : Rejected transaction 17826602877e500b92d95ebde3013d2ad89d6dc9c2802a0f10d1320ac9bb419c: tx 17826602877e500b92d95ebde3013d2ad89d6dc9c2802a0f10d1320ac9bb419c tried to spend

[2020-07-01 11:33] dindinw commented on #29
@t01001 the `coinbase` UTXO needs to wait for 720 blocks before you can spend it. Please send the transaction again to test if it works for you.

[2020-07-01 11:54] blocklee opened #30 "txlist (交易记录查询) on wallet web model does not work"
The transaction displayed by qitmeer wallet web does not work, as shown below:

![image](https://user-images.githubusercontent.com/32875657/86240869-82320b00-bbd4-11ea-8616-2d75192a5894.png)

The transaction displayed does not exist and the latest generated transaction will not be displayed.

[2020-07-01 11:59] blocklee commented on #30
https://github.com/Qitmeer/qitmeer-wallet/blob/master/assets/src/src/components/txlist.vue

 txid is used in the code of txlist.vue, not txhash, maybe that's the problem.

[code]

[2020-07-01 12:00] dindinw commented on #30
The issue has been fixed by https://github.com/Qitmeer/qitmeer-wallet/pull/28 please use the latest code. Please also make sure to use `make` to build a whole project to let `qitmeer-wallet`s web module's work with the latest updates.

[2020-07-01 14:09] blocklee opened #31 "The getlisttxbyaddr command has no feedback"
When using `qitmeer-wallet qc getlisttxbyaddr` command, there is  no feedback.

[code]

[2020-07-01 14:16] blocklee commented on #30
I have get the latest code.

[code]

![image](https://user-images.githubusercontent.com/32875657/86254484-6df80900-bbe8-11ea-953a-44b5fb2d27a9.png)

[2020-07-01 22:57] dindinw commented on #30
The TxId showed in your screen shoot has already worked  https://explorer.qitmeer.io/tx/87660967c7890b82174af1432aefde533e0c277a1034b140f043e4974469dac2
So what's your problem?

[2020-07-01 23:05] forchain opened #32 "Build failed if no GOPATH setup"
cd assets && statik -src ./src/dist/
/bin/sh: statik: command not found
make: *** [webui] Error 127

[2020-07-02 00:15] #32 closed, assigned to forchain

[2020-07-02 02:07] forchain commented on #31
reproduced

[2020-07-02 02:36] blocklee commented on #30
My compilation process is very strange. The first time I make it, an error will be reported and the compilation cannot be completed. When I make the second time, it shows that the compilation is completed. But I don't know if it's really a success.

- the first time

[code]

- the second time

[code]

[2020-07-02 02:40] forchain commented on #31
no problems with processing, just missing output result

[2020-07-02 02:46] forchain commented on #30
Tx already listed in your screen shot, what do you mean by 'NOT in the current version'?

[2020-07-02 02:49] forchain commented on #30
I think it is a separate issue issue, investigate later

[2020-07-02 02:56] dindinw commented on #30
@blocklee the display issue has been fixed, the issue closed, please open another issue if any other issue.

[2020-07-02 02:56] #30 closed, assigned to forchain

[2020-07-02 03:12] blocklee opened #34 "the txlist display error"
the txlist display for qitmeer-wallet are not match with qitmeer explorer tx display for the same adddress.

- tx display on qitmeer explorer

![image](https://user-images.githubusercontent.com/32875657/86312851-3aec5e80-bc56-11ea-9656-5ae8a1ddf759.png)

Only six trading messages.

- tx display on qitmeer-wallet txlist

![image](https://user-images.githubusercontent.com/32875657/86312506-70447c80-

[2020-07-02 03:32] dindinw commented on #34
The display of `qitmeer-wallet` screen-shot shows some duplicated tx-id,
The Tx list of qitmeer explorer can be find from  https://explorer.qitmeer.io/address/TmUWxxq66VCdAJtf5kxPVGwHN8LzXyqRk8L
it might be a bug here. will look into this.

[2020-07-02 08:02] forchain commented on #29
By Design, the maturity of **COINBASE** transaction is for safety consideration

[2020-07-02 08:02] #29 closed, assigned to forchain

[2020-07-02 08:06] #31 closed, assigned to forchain

[2020-07-02 13:10] forchain opened #36 "qx: WIF to private key"
a bunch of third-party wallets support WIF private key format only

[2020-07-02 13:32] blocklee opened #37 "An error occurred while compiling with make"
#### Every time, when I compile with make for the fist time using new code (the fist time mean, git clone fist, then make), it failed with error.

[code]

------------------------------------------------------------------------------------

#### When I compile with make for the second time, it can go build success, but still have some errors.

[code]

----------------------------------------------

[2020-07-02 22:39] dindinw commented on #37
`gyp info using node@12.18.1 | win32 | x64`
`npm ERR! Failed at the node-sass@4.14.1 postinstall script.`
@blocklee please update you Node version 12.18.1 to 13.x or above.
`node-sass@4.14.1` target for a higher node version.

[2020-07-02 23:25] forchain commented on #37
Thanks, add comment in ReadMe later

[2020-07-02 23:33] forchain commented on #37
gyp verb could not find "python". guessing location
gyp verb ensuring that file exists: C:\Python27\python.exe
gyp ERR! configure error
gyp ERR! stack Error: Can't find Python executable "python", you can set the PYTHON env variable.

It checked python as well, so we need to make sure that python is installed.

[2020-07-02 23:52] forchain commented on #37
https://github.com/sass/node-sass/issues/1176
https://github.com/hasbug/blog/issues/11

[2020-07-03 00:06] forchain commented on #37
@blocklee two suggestions
1. install python2.7 and add python binary to environment variable
https://www.python.org/
2. rebuild node-ass
[code]

[2020-07-03 00:18] forchain commented on #37
https://github.com/sass/node-sass/issues/1176#issuecomment-323035618

Problem identified, per xyzfer mentioned in the above comment, node-sass needs rebuilding by node-gyp , which depends on python. Basically, node-gyp will download prebuilt python binary , but somehow, probably network blocked by GFW, the python is not ready.

[2020-07-03 00:41] forchain opened #38 "add wrapper of qitmeer qx for qitmeer-wallet qx"
there are a lot of duplicates from [qitmeer-wallet qx](https://github.com/Qitmeer/qitmeer-wallet/blob/master/console/qxcommand.go) to [qitmeer qx](https://github.com/Qitmeer/qitmeer/tree/master/cmd/qx), a wrapper of qitmeer qx would avoid massive redundant work

[2020-07-03 01:17] forchain commented on #34
Problem identified
1. getlisttxbyaddr lists transactions based on outputs number
2. count CHANGEs as inward transactions
3. outward transactions not implemented

[2020-07-03 03:34] blocklee commented on #37
I have installed python, still error.

[code]

[2020-07-03 03:38] forchain commented on #37
gyp verb `which` failed Error: not found: python2

gyp ERR! stack Error: Command failed: C:\Python38\python.EXE -c import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack   File "<string>", line 1
gyp ERR! stack     import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack                       ^
gyp ERR! stack SyntaxError: invalid syntax

node-gyp only supports python2

[2020-07-03 04:13] forchain commented on #37
the version of node-gyp used in this project is 3.8.0, which only supports python 2.7, so we need to upgrade the dev dependency of node-gyp to the latest version to be compatible with both python2 and python3.

https://github.com/nodejs/node-gyp/blame/v3.8.0/README.md#L60

[2020-07-03 04:18] forchain commented on #37
Anyway, from these logs we could infer that there is something wrong with the network.

[2020-07-03 23:07] forchain opened #40 "separate Web and Console from QC"
Web and Console have independent interactive UI.

[2020-07-04 04:00] #36 closed, assigned to forchain

[2020-07-04 04:00] #37 closed, assigned to forchain

[2020-07-04 12:42] blocklee opened #41 "console command cannot exit"
`qitmeer-wallet qc console`  command cannot exit.

![image](https://user-images.githubusercontent.com/32875657/86512668-ab51d600-be36-11ea-8961-319a624cba06.png)

I cannot exit by using `Ctrl+C`.

[2020-07-04 12:49] #41 closed, assigned to nobody

[2020-07-04 13:08] blocklee commented on #41
[code]

[2020-07-04 23:56] forchain opened #43 "introduce viper to manage config"
[viper](https://github.com/spf13/viper) provides a mechanism to set override values for options specified through command line flags.

[2020-07-05 02:03] #40 closed, assigned to forchain

[2020-07-07 05:48] forchain commented on #43
plan
1. two vipers, one for sample, one for user.
2. the sample is consistent with the default config
3. the user is for user defined and overrides the sample
4. when there is a new config item coming , it would reflect to the sample
5. (optional) new items would reflect to the user config once without tempered
6. cobra flags takes defaults from viper

[2020-07-07 05:54] forchain commented on #43
7. Config Items take Camel naming style with the initial capitalized, flags name is the same as config, just  lowercase

[2020-07-07 10:13] huzhiyang888 opened #44 "私钥导入问题"
我们调用wallet_importPrivKey这个方法的时候  提示 私钥导入这个rpc 已经弃用？ 请问还有什么办法 可以进行私钥导入钱包 账户 然后进行转账

[2020-07-07 10:21] forchain opened #45 "version management"
qitmeer-wallet updates would break dependent exchanges

[2020-07-07 10:48] forchain commented on #44
https://github.com/Qitmeer/docs/issues/49
文档没有更新，已经提交文档bug

[2020-07-07 10:49] forchain commented on #44
https://github.com/Qitmeer/qitmeer-wallet/issues/36
这个功能造成的影响

[2020-07-07 11:03] huzhiyang888 commented on #44
这个功能导致我没有办法把交易所用户地址里的币 转出来！

[2020-07-07 11:03] forchain commented on #44
![image](https://user-images.githubusercontent.com/22833166/86771312-95395500-c084-11ea-954f-ae100d8f926c.png)

[2020-07-07 11:11] forchain commented on #44
不是#36 导致的，#36只是改了命令行，而且也只是加了一个可选参数，但这个问题是RPC，正在排查具体原因

[2020-07-07 11:19] huzhiyang888 commented on #44
冒昧问下 #36  啥意思

[2020-07-07 12:17] forchain commented on #44
客气了，命令行工具之前支持hash256的私钥格式，不支持WIF格式（但是钱包RPC支持），这个功能就是支持这个格式

[2020-07-07 12:19] forchain commented on #44
@huzhiyang888
问题已经查明，是 https://github.com/Qitmeer/qitmeer-wallet/commit/283cfcd3989001245f17c9596eaf22684de2f2bd#diff-50d8a68d7015a559e6782731522920e9R202 这个改动造成的，暂不清楚为什么这么改的原因

[2020-07-07 12:28] huzhiyang888 commented on #44
查出来就行！修复好更新下

[2020-07-07 13:10] forchain commented on #44
上面那个是其他问题，这两个问题才是导致这个bug的

https://github.com/Qitmeer/qitmeer-wallet/commit/4f5dc31ce77730f30f0bebedd4cbe24e1aa1c6c7#diff-507294bc07e5af801e24a9ae2e7f2eafR221

https://github.com/Qitmeer/qitmeer-wallet/commit/4f5dc31ce77730f30f0bebedd4cbe24e1aa1c6c7#diff-507294bc07e5af801e24a9ae2e7f2eafR255

[2020-07-07 13:28] forchain commented on #44
#46
@huzhiyang888 已修复，等待review

[2020-07-07 13:36] #44 closed, assigned to forchain

[2020-07-07 22:36] dindinw commented on #45
The `qitmeer-wallet` itself should also be improved for version support. currently no command `version` or `--version` here.
[code]

[2020-07-07 23:25] forchain commented on #45
Good point, will be included

[2020-07-11 06:54] ArayofEntropy opened #47 "go build ERROR after node build complete."
[code]

I don't understand why using `/usr/lib/go-1.10/src/github.com/Qitmeer/qitmeer-wallet/commands`. There is no path like that.

[2020-07-11 07:13] forchain commented on #47
@devilrayzl have you updated the code?
*Commands* is here:
https://github.com/Qitmeer/qitmeer-wallet/tree/master/commands

[2020-07-13 03:59] forchain commented on #47
qitmeer-wallet requires go version at minimum 1.12 to support go module and yours is 1.10, not supported.

please upgrade your go to the latest version

[2020-07-13 10:55] #43 closed, assigned to forchain

[2020-07-13 11:00] ArayofEntropy opened #49 "qitmeer-wallet seemed start failed"
[code]
No port is listen

[2020-07-13 13:54] #49 closed, assigned to nobody

[2020-07-13 14:07] blocklee opened #50 "qitmeer-wallet qx command “wiftopri” checksum error"
I want to get the private key from wif key, then get the address from privkey.

When using `qx wiftopri` command, checksum error occured.

I export wif format private key by address first using the dumpPrivKey command of console.

[code]

Then using qx wiftopri to get privkey, error occured.

[code]

[2020-07-14 02:30] ArayofEntropy commented on #47
[code]
update GO version works.

[2020-07-14 02:30] #47 closed, assigned to forchain

[2020-07-14 13:19] blocklee opened #51 "Lack of listAccountsBalance command in console"
qitmeer-wallet qc 命令中含有命令 listaccountsbalance ，可以同时获得账户和余额；

而qitmeer-wallet console 中缺少类似命令，是否应该添加上，我看rpc接口文档里有调用类似功能的命令

[2020-07-16 03:29] forchain commented on #51
Good point, I got similar  feedbacks, about to finish it soon

[2020-07-16 03:31] ArayofEntropy opened #52 "Lack of wallet_getTxListByAccount rpc interface"
1. There are many addresses in an account
2. Every address may get receive or send transactions
3. I wanna monitor all my transactions
4. Only wallet_getTxListByAddr is not enough

[2020-07-16 20:02] forchain commented on #34
https://github.com/Qitmeer/qitmeer-wallet/blob/1d626a2b698dbd56dcb1479b12d616fb91ac82bd/wallet/wallet.go#L590

[2020-07-17 01:31] blocklee opened #53 "The result of "gettx" is not json format"
The result of "gettx" show that there are no paragraphs. I think it can be improved. It may be better.

D:\git\qitmeer-wallet>qitmeer-wallet.exe qc gettx ce9a1abe6fdfea7cc8d0d7d892087aa7b5292fcbf45cac0ef80a75d0036af166

[code]

[2020-07-17 02:54] blocklee commented on #34
The in and out parameters in the getlisttxbyaddr command don't seem to work.

[2020-07-17 02:56] forchain commented on #34
Yes, there are bugs, fixing

[2020-07-17 03:05] blocklee commented on #34
I find that the results of getlisttxbyaddr are not normal for some address with fewer transactions.  But I can get normal results from the explorer.

- addr1: Tmc3tTH3TT2fA3LzwiL2s4hWGd89fHLTCp2

[code]

that on explorer for this addr: https://meerscan.io/address/Tmc3tTH3TT2fA3LzwiL2s4hWGd89fHLTCp2

- addr2: TmbXAkqUPnmqvNYFwjVVQcqoVPpewfQqkdE

[code]

that on explorer for this addr: https://meers

[2020-07-17 03:15] blocklee commented on #34
Another suggestion:

**Is the getlisttxbyaddr command intended to get just the txid, or all the transaction details?**

Now this command gives gives the full details of the transaction, but I probably don't need to pay attention to that much. I just want to get **the list of txid**, because I can get the details of each transaction by the command `gettx`.

[2020-07-17 05:59] blocklee commented on #34
I think I find the problem, its my fault, I have not updateblock to the latest, I'm sorry.

[2020-07-18 04:46] rlinxy opened #54 "Got error 'No information available about transaction' when calling rpc getRawTransaction"
Occasionally got this error  'No information available about transaction' when calling the rpc API 'getRawTransaction', while the transaction was successfully sent out and can be tracked at the pmeer blockchain browser. It happens a couple of times per month.

2020/07/18 12:20:24 Failed to get tx confirmations: No information available about transaction f9ede9b8028420c9a7c3c6ffd0ff10672dd637d676bc

[2020-07-18 04:58] rlinxy commented on #54
To be clear, this wallet api works fine for most of the time, we got correct response after called 'getRawTransaction'. But for some 'special' tx such as the one from above, it throws that error.

[2020-07-18 06:38] dindinw commented on #54
###  The block & tx can be found at
- block:
https://explorer.qitmeer.io/block/98aee6410888e20409435cf8257e0a57e81ab4653cf72d36e24c039c8526ae91
- tx:
https://explorer.qitmeer.io/tx/f9ede9b8028420c9a7c3c6ffd0ff10672dd637d676bc66deb016485d9bb9dd60
### Test getRawTransaction by curl again
I doubt it a wallet issue.  Please test it again sending `getRawTransaction` rpc by curl command to your backend

[2020-07-18 06:59] dindinw commented on #54
@rlinxy  I think your issue might be related to https://github.com/Qitmeer/qitmeer/pull/327 。Please clean up your wallet's db and sync block again because your wallet db might contain some incorrect tx hash caused by an RPC bug in qitmeer 0.9.0. if you never clean up your wallet db since 0.9.0, you can do a fresh block synchronization to fix the issue.

[2020-07-18 12:07] rlinxy commented on #54
My qitmeer version is:
qitmeer version 0.9.1+dev- (Go version go1.13.4)
The wallet db has been deleted and rebuilt after I updated to this version 0.9.1.

I guess it's not a new bug, because we have seen this error during the past several months before and after the recent fork.

[2020-07-19 00:02] dindinw commented on #54
@rlinxy Please update your backend qitmeer node version to [0.9.1+hotfix-release-6e0a73a](https://github.com/Qitmeer/qitmeer/releases/tag/v0.9.1-release-hotfix) . and make sure to redo the block synchronization by clean up the qitmeer node db  ( using command `qitmeer --testnet --cleanup`). You might also need to rebuild your wallet db since the backend qitmeer node db updated.

[2020-07-19 06:34] rlinxy commented on #54
OK, just cleaned up the data of both pmeer node and wallet, then updated the node to the newest version, let's see if this bug got fixed. Thanks.

[2020-07-22 03:52] ArayofEntropy opened #55 "`wallet_lock` could not reach to the wallet"
[code]

And there is no log in wallet.log while invoking `wallet_lock`.

[2020-07-22 05:34] forchain commented on #55
Not implemented yet

[2020-07-27 11:51] huzhiyang888 opened #56 "wallet 启动后一直更新节点"
wallet 启动后一直更新节点   MainOrder: 0   MainHeight: 0

[2020-07-28 01:05] forchain commented on #56
![71595853920_ pic_hd](https://user-images.githubusercontent.com/22833166/88607266-60cc1e00-d0b1-11ea-8f25-74be031b5762.jpg)

[2020-07-28 09:00] forchain commented on #54
@rlinxy bug fixed on latest build?

[2020-07-28 09:08] forchain commented on #54
@rlinxy a bug from Qitmeer and probably gets fixed in Qitmeer/qitmeer#327, close first, please reactivate if happens some day

[2020-07-28 09:08] #54 closed, assigned to lochjin

[2020-07-29 13:35] forchain commented on #56
happens when updating blocks,

[2020-07-29 13:38] forchain commented on #56
not reproducible

[2020-07-29 13:38] #56 closed, assigned to forchain

[2020-08-01 00:40] #51 closed, assigned to forchain

[2020-08-01 00:40] #34 closed, assigned to forchain

[2020-08-01 00:40] #53 closed, assigned to forchain

[2020-08-02 09:30] forchain commented on #50
dumpPrivKey  is using
https://github.com/Qitmeer/qitmeer-wallet/blob/1673f4a4e666147f120da5a625b75a737c92cc0e/utils/wif.go#L85

while wiftopri is using
https://github.com/Qitmeer/qitmeer/blob/71a040b03be58c7f828e825440dfbf432ee75456/qx/handle_crypto.go#L252

[2020-08-02 23:44] #55 closed, assigned to forchain

[2020-08-03 03:21] forchain commented on #50
Thanks clarification from @dindinw, my understanding of the difference from the two as follow:

Qitmeer WIF should be compatible  with  BTC main net.So the Network ID must be  0x80.

The DecodeWIF in qitmeer-wallet is just for **base58check** debugging, we could detect it by qitmeer qx
[code]

The corresponding BTC WIF is KzVE5hmNC6UpHF8zAzvEDqd2nbGp9iUH1bfwiZTnt9HcsRLqrgso
[code]

[code]

[code]

[2020-08-03 03:34] forchain commented on #52
@dindinw do we need to add this API. It is just an enhancement, we could work around it by two steps, list addresses by account and then retrieve tx from each address

[2020-08-03 22:25] forchain commented on #45
create a GitHub workflow to generate builds

[2020-08-03 22:40] forchain opened #61 "unit tests for qitmeer-wallet"
1. make sure RPC, console, cli call the same service in wallet/wallet.go
2. make sure every service has a unit test

[2020-08-04 08:22] #50 closed, assigned to forchain

[2020-08-12 04:34] blocklee opened #62 "My wallet crashed when I ran the qitmeer wallet console for a long time"
My wallet crashed when I ran the qitmeer wallet console for a long time(more than a day).

[code]

- qitmeer-wallet version:

[code]

- node version:

[code]

[2020-09-07 12:49] forchain commented on #62
unable to reproduce, I left cli running a week before and it is still alive.

wallet-cli:
update blcok:223160/2231603148/223160
succ

The call stack is not inside qitmeer-wallet, please update your golang version and try again. If reproduced, please activate this issue.

[2020-09-07 12:49] #62 closed, assigned to forchain

[2020-10-10 02:14] guosq02 opened #63 "Qitmeer-Wallet FAQ"
Qitmeer wallet failed to compile with make。Can you provide executable binaries?
![9D165C25-E571-4dad-97D4-13AADF53B34E](https://user-images.githubusercontent.com/29112794/95643357-57aff200-0ae1-11eb-8f95-13eb27d871a5.png)

[2020-10-10 02:19] guosq02 commented on #63
My Ubuntu version is Ubuntu 18.04.5

[2020-10-11 02:10] forchain commented on #63
@guosq02 dear friend, it seemed that you failed to load some dependency, probably due to network connectivity issue. Please follow the instruction in ReadMe.

![image](https://user-images.githubusercontent.com/22833166/95668689-f99b1180-0ba9-11eb-9984-a806b0b7cd7a.png)

[2020-10-12 07:19] guosq02 commented on #63
I used this agent to compile too slowly. It has not been finished since I started compiling in the morning

# HTTP proxy
export HTTP_PROXY=http://proxy.example.com:8080

# NPM proxy
npm config set proxy http://proxy.example.com:8080

[2020-10-12 09:08] guosq02 commented on #63
You can't open this website
![Uploading image.png…]()

[2020-10-12 09:22] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95729371-61875000-0caf-11eb-8614-fd208729a9e0.png)
The domain name couldn't be found

[2020-10-13 01:37] forchain commented on #63
@guosq02  example.com is NOT A REAL website, you should replace it with a REAL proxy.
You also could try some public proxy, please see https://developer.aliyun.com/mirror/NPM

[2020-10-13 06:43] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95824518-01051b00-0d62-11eb-83d7-6789c4f34b1c.png)
Hello, I have compiled qitmeer wallet, but I have tried many ways, and the wallet has not started.
What order do I need to execute

[2020-10-13 08:35] forchain commented on #63
[code]

[2020-10-13 08:45] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95837638-64e40f80-0d73-11eb-90d4-8609ebd2a644.png)
![image](https://user-images.githubusercontent.com/29112794/95837703-7a593980-0d73-11eb-9252-e8d4ea4772ba.png)

Unable to request data

[2020-10-13 08:50] forchain commented on #63
please share your config.toml

[2020-10-13 08:56] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95838865-dff9f580-0d74-11eb-8f60-ac92cc25cb9d.png)
Do you want me to create a wallet first? Use. / qitmeer wallet QC create

[2020-10-13 09:05] guosq02 commented on #63
![Uploading image.png…]()

[2020-10-13 09:05] forchain commented on #63
do you have an account named "test_account" ? It seems that you just copied and pasted the sample commands from the API document. Please note, all the commands are just for demonstration , they worked only on my machine and won't be applied on yours.You should modify those commands accordingly.

From the last error message we know that you didn't have an account named "test_account", therefore you

[2020-10-13 09:20] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95841697-3f0d3980-0d78-11eb-8a93-09202c2e755f.png)
openWallet err:invalid passphrase for master public key

How do I fill in

[2020-10-13 09:26] forchain commented on #63
this is the password that you specified during WALLET CREATION.

[2020-10-13 09:28] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95842780-8cd67180-0d79-11eb-9f89-c53f2b0a2465.png)

[2020-10-13 09:37] forchain commented on #63
https://qitmeer.github.io/docs/en/wallet-json-rpc-api/instruction/

please follow the instruction of JSON RPC API.

Did you run the wallet web service? The JSON RPC replied on this service.
[code]

[2020-10-13 09:39] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95843985-f73be180-0d7a-11eb-87b5-c39557c7f11b.png)

[2020-10-13 09:45] forchain commented on #63
please check your config.toml, make sure your rpcUser and rpcPass are consistent with those of your requests.

Please note this part in the API instruction
![image](https://user-images.githubusercontent.com/22833166/95844657-babcb580-0d7b-11eb-8345-03c247afafdf.png)

[2020-10-13 10:10] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95845952-674b6700-0d7d-11eb-964e-e3b48a752d35.png)
![image](https://user-images.githubusercontent.com/29112794/95846032-84803580-0d7d-11eb-8beb-10f787e658f0.png)
The information should be correct

[2020-10-13 10:14] forchain commented on #63
please check the Qitmeerds section. **18130** is supposed to be the default P2P port, and the default RPC port would be **18131**

[2020-10-13 10:27] guosq02 commented on #63
It's the same as before.
Is there a problem with the IP of the qitmeerds part?

[2020-10-13 10:36] guosq02 commented on #63
![Uploading image.png…]()

[2020-10-13 10:38] forchain commented on #63
Form your previous steps, we could infer that RPC calls worked on your machine before, at least there was no connection problem. You could relaunch your wallet API service to see if the service recovers again. Or you could enter the Web UI (locahost:8130/app) to see if RPC is working.  Since the browser sends RPC calls to wallet web service as well, you may try this to tell if it is the wallet ser

[2020-10-13 11:30] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95854783-ff4f4d80-0d89-11eb-9dae-1eb1afbbbf9e.png)
The node data is not synchronized to the height of 0. I need to set it config.toml Is there a configuration of the file?

[2020-10-13 11:31] guosq02 commented on #63
![Uploading image.png…]()

[2020-10-13 16:07] forchain commented on #63
0 implies that synchronization is not finished, you could config qitmeer node in Qitmeerds  section

[2020-10-14 07:13] guosq02 commented on #63
Sending transaction returns txid, but there is no way to query transaction information through txid. How do I query transaction information?

[2020-10-14 10:57] guosq02 commented on #63
![image](https://user-images.githubusercontent.com/29112794/95979897-ef4d7180-0e4e-11eb-8835-1ffae4c5cc01.png)
How do I enter my wallet code?
I haven't seen this wallet password

[2020-10-14 11:51] guosq02 commented on #63
How to distinguish between recharge and withdrawal in Vout of transaction information?

[2020-10-15 08:51] forchain opened #64 "GetTx API"
Request Transaction By ID  through RPC

[2020-10-15 08:52] forchain commented on #63
Indeed, we missed it, I created an issue for this and am working on it. Thank you
https://github.com/Qitmeer/qitmeer-wallet/issues/64

[2020-10-16 03:39] forchain commented on #63
You need to unlock the wallet first
https://qitmeer.github.io/docs/en/wallet-json-rpc-api/api-list/wallet_unlock/

[2020-10-16 04:00] forchain commented on #63
If the sum of your UTXOs in your inputs is greater than that in your outputs, it is a withdraw, otherwise a deposit.

[2020-10-16 09:08] guosq02 opened #65 "There is a problem with qitmeer wallet service transactions"
This address tmzmg9fcjf6e4hu1vlsz7hdphsseyf3w98 I found in the block browser is 9.999158
However, using RPC interface to query the amount is not up to
At the same time, my node data is the latest height
This means that when sending the transaction, it should be one pmeer, but actually it is two
![image](https://user-images.githubusercontent.com/29112794/96238982-affb5e00-0fd1-11eb-94db-64b7174f20e

[2020-10-16 09:25] forchain commented on #65
please share your result of wallet_getUTxo

[2020-10-17 03:02] #64 closed, assigned to forchain

[2020-10-17 03:06] guosq02 commented on #65
{
    "jsonrpc": "2.0",
    "id": 1,
    "result": {
        "total": 6,
        "page": 0,
        "page_size": 0,
        "transactions": [
            {
                "hex": "01000000027efa33e8c8b19f85c2c3ffe3376decbc3ac78c3d4ad42bb9f338c2e8df446c9b00000000ffffffff1818dcf6f63ca23e1e182f76f3e44b990da3a4ea1219fef325610a123f36096701000000ffffffff0200e1f505000000001976a9143b76887656cf8abc6d22da9a

[2020-10-18 03:51] forchain commented on #65
@guosq02 this is the result of
GetTxListByAddr, I want the result of **wallet_getUTxo""

[2020-10-18 05:12] forchain commented on #65
@guosq02
[code]
The result is correct on my machine, not sure if something wrong on your synchronization. Please update your wallet and qitmeer.

[2020-10-19 09:35] guosq02 commented on #65
Qitmeer wallet should be up-to-date. I downloaded it from the address on the example. Qitmeer is qitmeer version 0.9.2 + release-7478571 (go version go1.15)
And the amount of transaction information reconciliation on this address is totally out of line（TmSSvQFYEvvBWPWy8CTbMrW59qxQezjC7Ru）
![Uploading image.png…]()

[2020-10-19 09:37] guosq02 commented on #65
![image](https://user-images.githubusercontent.com/29112794/96427935-be47b500-1231-11eb-92dd-30b6b3de489c.png)

[2020-10-19 10:58] forchain commented on #65
This is a known issue and also could be reproduced on my machine, I am fixing it soon, however, it has nothing to do with the problem of "UnspendAmount".

[2020-10-20 01:42] guosq02 commented on #65
At present, unspendamount has not caused any impact, which can be ignored, but it is almost inevitable

[2020-10-20 02:48] forchain commented on #65
Regarding to "UnspendAmount", I recommend that you start all stuff over. Clear your current build and data and rebuild it, so far as I could see, I suspect that there was something wrong happened during the synchronization, so your data was somehow polluted. If could reproduced once again, you may share your data with me (DON'T put too much money ^^)

[2020-10-21 03:46] guosq02 commented on #65
![image](https://user-images.githubusercontent.com/29112794/96670756-c10deb80-1392-11eb-8e3e-b6b2c2ceae0b.png)
How to solve this problem?
I may have done something wrong

[2020-10-21 11:33] forchain commented on #65
@guosq02 did you unlock your wallet?
[code]

[2020-11-04 07:39] #65 closed, assigned to forchain

[2020-11-04 07:39] #63 closed, assigned to forchain

[2020-11-04 07:39] #61 closed, assigned to forchain

[2020-11-04 07:39] #52 closed, assigned to forchain

[2020-11-04 07:40] #45 closed, assigned to forchain

[2020-11-04 07:40] #38 closed, assigned to forchain

[2020-12-13 12:07] lochjin opened #68 "A new branch is needed for 0.10"

[2020-12-14 06:24] #68 closed, assigned to nobody

[2021-01-12 13:01] forchain opened #72 "API: Indefinite unlock"
if the duration is negative, the wallet will stay unlocked until it gets locked manually.

[code]

[code]

[2021-01-12 13:03] #72 closed, assigned to forchain

[2021-01-21 12:22] foreverchens opened #74 "钱包会选择未成熟的爆块交易去构建新的交易"
场景描述： 目前有一个已经连续承接1天爆块收益的pmeer地址、在通过钱包节点api发送转账时、提示txId is immature、经多次转账发现、每次发起的交易都使用了最近的未成熟的爆块作为交易的输入、导致转账失败。

[2021-01-23 02:46] #74 closed, assigned to nobody

[2021-01-28 03:45] rlinxy opened #76 "Always get 'Client.Timeout exceeded while awaiting headers' after sent the payment"
We used to send batch payments successfully without problem for several months. Just recently, we always get such error:
Client.Timeout exceeded while awaiting headers
The payment has already been sent, just seems no correct reply with TXID from the qitmeer-wallet.
I updated to the newest code, but the problem remains the same.
The RPC interface we use is 'wallet_sendToMany', unlock the wallet fir

[2021-01-28 05:22] forchain commented on #76
https://github.com/Qitmeer/qitmeer-wallet/pull/75/files

Is your issue relevant to his commit? Is it reproduced before or after this one?

[2021-01-29 03:26] rlinxy commented on #76
I guess it's not related to this commit. We haven't upgrade the for a long time, probably half a year. The wallet has been working fine for several months, just see this happens recently.
So my guess is, maybe it is caused by something new of the blockchain? Or too many transactions and UTXO in the wallet?

[2021-01-30 07:41] forchain commented on #76
https://github.com/Qitmeer/qitmeer/issues/423

Probably relates to this bug, investigating. Qitmeer forbids excessive connections from wallet, even crashes

[2021-01-31 09:27] rlinxy commented on #76
I don't see there is such error in the log of the node. I just restarted the node, and tried to send payment again, it made no difference, still got such error:
Client.Timeout exceeded while awaiting headers
It's really annoying, plz fix it ASAP, thanks

[2021-02-01 13:58] rlinxy commented on #76
Any update? Still waitting :(

[2021-02-02 06:42] forchain commented on #76
https://github.com/Qitmeer/qitmeer/issues/423

I was stopped by this issue, I cannot synchronize blocks.

[2021-02-02 06:45] forchain commented on #76
@rlinxy I am working around https://github.com/Qitmeer/qitmeer/issues/423 to reproduce your bug

[2021-02-03 09:01] forchain commented on #76
@rlinxy we just fixed a synchronization issue, please update qitmeer to see if your issue is gone. And I strongly recommend you make a fresh synchronization.

[2021-02-03 10:22] dindinw commented on #76
@rlinxy I think you might consider to provide more detail information for the bug to be useful. detail error log and precise steps to reproduce will help.  `Client.Timeout exceeded while awaiting headers` is just a golang http client connection timeout error. It give only some ambiguous guess for where/what trouble is.

[2021-02-04 06:18] forchain opened #78 "Add coinbase maturity config"
1. Remove PRC query for confirmations
2. Add coinbase maturity config, default is 800
3. check this config on spending coinbase transaction

[2021-02-05 03:21] dindinw commented on #76
closed by #81

[2021-02-05 03:22] dindinw commented on #78
closed by #81

[2021-02-05 03:22] #78 closed, assigned to bCoder778

[2021-02-09 05:40] forchain opened #82 "version management"

[2021-02-09 06:59] rlinxy commented on #76
This bug is still there, and someone from the team is working on it with us. So I guess it's better to make this issue open again.

[2021-02-09 09:06] dindinw commented on #76
@rlinxy reopen the issue to trace the process, Please provide more error information here if the #81 not fixed the issue. Please also make sure you had tried the latest code.

[2021-02-09 14:08] rlinxy commented on #76
OK, solved, just wait a little bit longer to get response from the wallet. Previously we set the timeout to 30s, and solved by set it to 180s. I guess this issue is due to there are too many UTXOs or transaction history in the wallet of our mining pool.

[2021-02-09 22:49] dindinw commented on #76
@rlinxy great, I will close the issue. Please reopen or fire new issue if any future problem.

[2021-02-09 22:49] #76 closed, assigned to jamesvan2019

[2021-03-01 03:03] forchain opened #83 "Wallet will generate dust transaction"
Send a transaction that output is less than input by the sum of 5800 and transaction fee using
wallet_sendToAddressByAccoun

[code]

[2021-03-01 03:13] forchain commented on #83
cancel the dust output to transfer it into transaction fee

[2021-04-13 01:20] dindinw opened #88 "build failure of PR #86"
https://github.com/Qitmeer/qitmeer-wallet/runs/2320797146

[2021-04-22 06:37] #88 closed, assigned to bCoder778

[2021-05-17 06:12] #82 closed, assigned to bCoder778

[2021-06-04 06:16] #83 closed, assigned to bCoder778

[2021-06-08 03:05] forchain opened #94 "[0.10]include ui compilation in make"
make has not compiled UI

[code]

[2021-06-08 05:26] forchain opened #95 "[0.10-dev]cannot open account management in web"
1. open wallet-ui
[code]

2. select  account management

3. error
[code]
![image](https://user-images.githubusercontent.com/22833166/121127469-67dcc480-c85c-11eb-85d6-82e6eb87eadf.png)

[2021-06-13 04:52] Airead opened #96 "Error: db Update incomplete"
build commit: 7d33b62a5e0ba49f205332e26888ab195a2e7d6f

How to run qitmeer wallet?
`qitmeer-wallet web`

When I call wallet_sendToMany, the qitmeer wallet return
[code]

### log
[code]

[2021-06-13 10:55] bCoder778 commented on #96
Please send your wallet.log to 778136602@qq.com and I will locate the problem

[2021-06-13 15:14] bCoder778 commented on #96
Please check the number of confirmations in the configuration file, the recommended value is 10

[2021-06-13 23:32] bCoder778 commented on #96
Please update the latest version and try again. Note: there is no need to delete data

[2021-06-14 06:54] Airead commented on #96
the `Confirmations` in my wallet config.yaml Is 720. You mean change the value to 10? as follows:
[code]

[2021-06-15 02:27] bCoder778 commented on #96
Please update the latest version and try again.

[2021-06-15 07:28] Airead commented on #96
Today I have
1. updated qitmeer wallet to ce5937e2b5b01e037ee69482f566430413a69ded;
2. `qitmeer-wallet qc setsyncedtonum 1005400` again;
3. but the wallet still return error: `db Update incomplete`

[2021-06-15 10:44] Airead commented on #96
The wallet can send coins after I change `Confirmations` to 10.

[2021-06-15 10:44] #96 closed, assigned to nobody

[2021-07-13 02:09] bCoder778 commented on #95
Has been fixed in the latest PR

[2021-07-13 02:11] bCoder778 commented on #94
This problem does not appear again now, please wait for the latest PR to try again.

[2021-07-20 05:01] #95 closed, assigned to bCoder778

[2021-07-26 03:11] #94 closed, assigned to bCoder778

[2021-08-09 05:41] forchain opened #101 "[explorer]balance is inconsistent with the sum of Coinbase transactions"
http://testnet.meerscan.io/address/TnVE5kHSF6GeUDaaKHCHfBoAZxKHbk2ck2T

By the time of this issue, the balance of the address above is only 485, while the sum of the transactions should be 485+120*4=965

#### balance
<img width="1037" alt="image" src="https://user-images.githubusercontent.com/22833166/128664235-a3a26b8c-ce83-44e1-9ae5-304749c2a49f.png">

#### transactions
<img width="1016" alt="im

[2021-08-09 05:44] forchain opened #102 "[KAHF] balance is inconsistent with the sum of transactions"
By the time of this issue, the balance of the address TnVE5kHSF6GeUDaaKHCHfBoAZxKHbk2ck2T is 485, while the sum of the transactions is 245

![image](https://user-images.githubusercontent.com/22833166/128664431-cecfad59-94e2-47bc-802e-90f654cd992b.png)

[2021-08-09 05:56] forchain opened #103 "[Explorer]No feedback if not found"
No feedback if we tried to find an unknown block / tx/ address .

[2021-08-09 09:23] forchain opened #104 "Searching by block number page becomes blank after page content flashes"
open link https://testnet.meerscan.io/block/83376

you will see the page content for a short while then all the content is gone

[2021-08-09 10:20] forchain opened #105 "[explorer]time displays as 'NaN' in Safari browser"
http://testnet.meerscan.io

<img width="1521" alt="image" src="https://user-images.githubusercontent.com/22833166/128692176-e7d78f01-09ff-42cf-8772-d9c0a0379c92.png">

[2021-08-09 10:35] forchain commented on #105
Note: only reproduce in Safari

[2021-08-09 11:39] forchain opened #106 "[explorer]Don't adapt mobile platform well"
![image](https://user-images.githubusercontent.com/22833166/128700608-0f40f4aa-6121-4c63-ae31-9c628cbc5958.png)

[2021-08-09 12:48] forchain opened #107 "[KAHF]language selection should be consistent with UI"
Current language selection is 'Chinese', while the UI is in English
![image](https://user-images.githubusercontent.com/22833166/128708437-e1c047f8-cab8-4c34-ac11-f8daf970bb53.png)

[2021-08-09 13:48] forchain opened #108 "[KAHF]typos"
typo list, keep updating, will add comments if find more. Close if all fixed

[2021-08-09 13:55] forchain commented on #108
Restore Wallet

![image](https://user-images.githubusercontent.com/22833166/128717842-bf70e7ef-cef1-4835-a069-611435e24d41.png)

[2021-08-09 14:04] forchain commented on #108
![image](https://user-images.githubusercontent.com/22833166/128719334-aec6d938-f134-4c5e-a8ad-5a6c1c973674.png)

[2021-08-09 14:15] forchain opened #109 "[KAHF]QR scan is not working on transferring"
## steps
1. Open A's MEER QR code
2. B tried to transfer MEER to A by QR scanning

### Observed
Cannot recognize QR code

![image](https://user-images.githubusercontent.com/22833166/128720942-3d2518ed-0e0c-459e-8372-2896224f28e9.png)

[2021-08-09 14:21] forchain commented on #108
Localization not completed
![image](https://user-images.githubusercontent.com/22833166/128721808-d9939ba6-a0c2-414d-8578-f6f5b18295d0.png)

[2021-08-09 14:27] forchain opened #110 "[KAHF]Transfer amount should not include fee"
![image](https://user-images.githubusercontent.com/22833166/128722724-da3a782d-7692-4f63-9f58-e92ee2e64f79.png)

[2021-08-09 14:31] forchain commented on #110
Only in iOS, android is fine

[2021-08-09 14:34] forchain commented on #108
![image](https://user-images.githubusercontent.com/22833166/128723955-4e5de45e-4332-4403-996e-4b6120af9c60.png)

[2021-08-09 14:42] forchain opened #111 "[KAHF]Cannot query transaction"
### steps
1. Open details page of any transaction
2. Open 'Query details'

### Observed
Page is blank
![image](https://user-images.githubusercontent.com/22833166/128725143-aa2b6ac9-9854-4d11-b6df-02f2b4a0ddf0.png)

[2021-08-09 14:52] forchain commented on #108
![image](https://user-images.githubusercontent.com/22833166/128726907-3c0ddc9c-aebc-4ad7-9de2-5f34881c8304.png)

[2021-08-09 15:06] forchain commented on #108
![image](https://user-images.githubusercontent.com/22833166/128728833-de7af206-0d62-48ba-9695-4db4c7208859.png)

[2021-08-09 15:23] forchain opened #112 "[KAHF]Cannot add meer wallet"
Missing Meer Wallet
![image](https://user-images.githubusercontent.com/22833166/128731342-bd69dabe-0cda-4035-9603-9ec641004dfc.png)

[2021-08-09 15:35] forchain opened #113 "[KAHF]Cannot open MeerScan from tool page"
![image](https://user-images.githubusercontent.com/22833166/128733149-c77f8df6-9aaa-4264-8921-225824229484.png)

[2021-08-09 15:38] forchain opened #114 "[KAHF]Crashes on opening 'Transaction reminder me'"
![image](https://user-images.githubusercontent.com/22833166/128733525-270e6fb4-cd60-421a-b6b6-c22b68eec263.png)

[2021-08-09 15:40] forchain opened #115 "[KAHF]Cannot add Meer address book"
![image](https://user-images.githubusercontent.com/22833166/128733757-09360b63-4c7a-4c0c-bf51-851cea426c89.png)

[2021-08-09 15:46] forchain opened #116 "[KAHF]No detail page for version updates"
Cannot review the details of each update, please add linking page or at least add update time.
![image](https://user-images.githubusercontent.com/22833166/128734726-2c2d2528-0f8b-45dd-a929-e214478d98d4.png)

[2021-08-09 17:27] forchain opened #117 "[Explorer]no separators among parent blocks"
https://testnet.meerscan.io/block/bb6b4d8fef73003d711b867aa22b902f2c1c7e89c625cc25d24707c1f6a2cfb0

![image](https://user-images.githubusercontent.com/22833166/128748035-85e9bef1-b528-4131-a626-b174a154d63f.png)

[2021-08-10 09:20] forchain opened #118 "[Explorer]Out of service"
![image](https://user-images.githubusercontent.com/22833166/128841990-a587bfb8-fa06-4805-8600-26c838c81d86.png)

[2021-08-10 09:27] forchain commented on #118
fixed

[2021-08-10 09:27] #118 closed, assigned to bCoder778

[2021-08-11 02:57] forchain opened #119 "[Explorer]Style becomes a mess on small screen"
iPad pro
![image](https://user-images.githubusercontent.com/22833166/128962595-fe9a77d3-1bc4-40ae-863e-c2280e271b9f.png)

[2021-08-11 03:33] forchain commented on #117
fixed

[2021-08-11 03:33] #117 closed, assigned to bCoder778

[2021-08-11 03:36] forchain opened #120 "[Explorer]add block height and layer info"
Block height and layer are important to DAG

[2021-08-12 07:48] gzh1612 commented on #116
![image](https://user-images.githubusercontent.com/48427480/129158509-31f0772d-0efe-43fc-8110-ae8d7ef8b4d0.png)

This is displayed in the new version

[2021-08-12 08:04] gzh1612 commented on #115
![image](https://user-images.githubusercontent.com/48427480/129160990-57b9e245-ddf1-4a65-98d2-1ec12bd6499b.png)
This is displayed in the new version

[2021-08-12 08:06] gzh1612 commented on #114
I think this function can be removed

[2021-08-12 08:14] gzh1612 commented on #110
Is it because IOS is not the latest

[2021-08-30 18:23] forchain commented on #120
height added

[2021-08-30 18:23] #120 closed, assigned to bCoder778

[2021-08-30 18:25] forchain commented on #106
fixed

[2021-08-30 18:25] #106 closed, assigned to bCoder778

[2021-08-30 18:25] forchain commented on #119
fixed

[2021-08-30 18:25] #119 closed, assigned to nobody

[2021-08-30 18:27] forchain commented on #105
fixed

[2021-08-30 18:27] #105 closed, assigned to bCoder778

[2021-08-30 18:28] forchain commented on #103
verified

[2021-08-30 18:28] #103 closed, assigned to bCoder778

[2021-08-30 18:29] #104 closed, assigned to bCoder778

[2021-08-30 18:29] forchain commented on #104
fixed

[2021-08-30 18:33] forchain commented on #101
fixed

[2021-08-30 18:33] #101 closed, assigned to bCoder778

[2021-08-30 18:38] forchain commented on #102
verified

[2021-08-30 18:38] #102 closed, assigned to bCoder778

[2021-08-31 03:10] forchain commented on #115
verified

[2021-08-31 03:10] #115 closed, assigned to gzh1612

[2021-08-31 03:11] forchain commented on #114
not removed yet

[2021-08-31 03:12] forchain commented on #113
verified

[2021-08-31 03:12] #113 closed, assigned to gzh1612

[2021-08-31 03:13] forchain commented on #111
verified

[2021-08-31 03:13] #111 closed, assigned to gzh1612

[2021-08-31 03:15] forchain commented on #112
verified

[2021-08-31 03:15] #112 closed, assigned to gzh1612

[2021-08-31 03:36] forchain commented on #110
verify iOS later

[2021-08-31 03:36] #110 closed, assigned to gzh1612

[2021-08-31 04:20] forchain commented on #107
verified

[2021-08-31 04:20] #107 closed, assigned to bCoder778

[2021-08-31 07:11] forchain commented on #109
verified

[2021-08-31 07:11] #109 closed, assigned to bCoder778

[2021-09-06 09:30] forchain commented on #108
fixed

[2021-09-06 09:30] #108 closed, assigned to forchain, gzh1612

[2021-09-06 09:33] forchain opened #121 "[KAHF]destruction amount disappear"
The amount shows in a short time and disappears

![image](https://user-images.githubusercontent.com/22833166/132194990-a0077d19-2de9-4ba6-8097-51171fbf671a.png)

[2021-09-06 09:36] forchain opened #122 "[KAHF]Check updates is not localized"
![image](https://user-images.githubusercontent.com/22833166/132195506-8555d1df-9001-4335-90b5-394c7458beb9.png)

[2021-09-08 09:12] forchain opened #123 "cannot add wallet"
![IMG_1745](https://user-images.githubusercontent.com/22833166/132481320-0a545296-6da8-4371-8029-7a42385ee533.JPG)

[2021-09-23 10:32] forchain commented on #123
fixed

[2021-09-23 10:32] #123 closed, assigned to gzh1612

[2021-09-23 10:32] forchain commented on #122
fixed

[2021-09-23 10:32] #122 closed, assigned to gzh1612

[2021-09-23 10:34] forchain commented on #114
fixed

[2021-09-23 10:34] #114 closed, assigned to gzh1612

[2021-09-23 10:35] forchain commented on #121
fixed

[2021-09-23 10:35] #121 closed, assigned to gzh1612

[2021-09-23 10:38] forchain opened #124 "[KAHF]Input box covered by input method"
![image](https://user-images.githubusercontent.com/22833166/134493204-1e4ff6a2-6442-4f35-99aa-e1a518e23065.png)

[2021-10-08 07:55] rlinxy opened #127 "Wallet panic after mined several blocks"
Wallet panic right after started. We are using 0.10 dev branch, testnet. Just mined several blocks, and the wallet got panic. The command line we use is  './qitmeer-wallet web'

2021-10-08|15:52:42.319 [INFO ] Established connection to RPC server 127.0.0.1:18131 module=RPCCLI
2021-10-08|15:52:42.321 [INFO ] notification rescan block           start=23170 end=23345
panic: runtime error: index out o

[2021-10-08 08:02] rlinxy commented on #127
Just tried delete the wallet db and created/imported seed, now the wallet is working fine. How ever I still got error when tring to get account balance, the command line I use is './qitmeer-wallet qc listaccountsbalance'

[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xb17dba]

goroutine 1 [running]:
github.com/Qitmeer/qitmeer-wallet/wallet.(*Wallet).AccountBalances(0xc0005de000, 0x

[2021-10-12 06:51] forchain commented on #116
verified

[2021-10-12 06:51] #116 closed, assigned to gzh1612

[2021-10-12 06:53] forchain opened #128 "[KAHF]Amount includes fees on sender side"
![2441634021098_ pic](https://user-images.githubusercontent.com/22833166/136906444-c5ff6bc6-319d-44ce-b448-1a76366f7d01.jpg)

[2021-10-12 06:54] forchain opened #129 "[KAHF]MeerScan tool opens testnet by default"
![2451634021219_ pic](https://user-images.githubusercontent.com/22833166/136906565-0f6cd3d9-acc0-4abf-bfdc-656003667cbf.jpg)

[2021-10-12 06:55] forchain opened #130 "[KAHF]SushiSwap tools is not working"
![2461634021299_ pic](https://user-images.githubusercontent.com/22833166/136906763-6c0fb9ad-9734-4770-b002-2fadd3662287.jpg)

[2021-10-12 06:58] forchain opened #131 "[KAHF]errors in backup mnemonic words page"
1. title is omitted
2. page is not scrollable

![2421634020651_ pic](https://user-images.githubusercontent.com/22833166/136906842-3bf60a18-2650-461a-8f61-5cff8bdd113e.jpg)

[2021-11-29 19:45] forchain opened #133 "[KAHF]No meer listed in address book"
![2601638211139_ pic](https://user-images.githubusercontent.com/22833166/143932523-f2135e22-7ae7-48ff-8c6d-ae8bc520898e.jpg)

[2021-11-30 22:46] 1617176084 opened #134 "Is there a compiled version?"
Is there a discord site? I want to join the community

[2021-11-30 23:20] dindinw commented on #134
There is only complied version for [`qitmeer` node](https://github.com/Qitmeer/qitmeer/releases). and [kahf wallet](https://www.kahf.io/) (iOS/Android)  for the end user. The `qitmeer-wallet` is supposed for developer & advanced user who can build easily from source and contribute to the repo. PRs are generally welcomed!
There is not discord channel currently. We may consider to build one dev chan

[2021-12-03 23:04] #134 closed, assigned to nobody

[2022-01-13 12:50] areyacloud opened #135 "create a entropy in qitmeer-wallet,and convert it into mnemonic. then import mnemonic into kafh wallet,but i got different private key and address between kafh and qitmeer-wallet."
create a entropy in qitmeer-wallet,and convert it into mnemonic. then import mnemonic into kafh wallet,but i got different private key and address between kafh and  qitmeer-wallet. i think this is a issue

[2022-01-13 13:14] dindinw commented on #135
Thank for your information, Could you provide more details for reproducing the issue.

[2022-01-13 13:26] areyacloud commented on #135
- i create a wallet with qitmeer-wallet cli,got entropy seed and private key:
`Your wallet generation seed is:
3691ee4943b6e8721e13636648b974244d37e7446d2b4918f665a15881ae7a10
IMPORTANT: Keep the seed in a safe place as you
will NOT be able to restore your wallet without it.
Please keep in mind that anyone who has access
to the seed can also restore your wallet thereby
giving them access to all yo

[2022-01-13 13:36] dindinw commented on #135
@areyacloud thanks for your help, we will look into it.

[2022-01-13 20:12] areyacloud commented on #135
i noticed that kafh wallet generate 12 mnemonic words,so its entropy should be 128 bit; while qitmeer-wallet and qx cli generate  24 mnemonic words, so its entropy length is 256 bit。im confused , which one is correct? kafh?

[2022-01-14 02:14] areyacloud commented on #135
@areyacloud  here's another issue,wallet cannot sync on some height in web mode ,can i add develope's wechat?

[2022-01-14 02:35] areyacloud opened #136 "stuck while syncing blocks"
`root@iZ8vbbzq0e6b75f4tkxpu3Z:~/qitmeer-wallet/build/bin/block-wallet# ./qitmeer-wallet web
web model
2022-01-14|10:30:05.411 [INFO ] Established connection to RPC server 172.17.162.67:8133 module=RPCCLI
2022-01-14|10:30:05.412 [INFO ] notification rescan block           start=0 end=319556
update history blcok:199999/319556`

stuck on this height, i tried to reboot,but useless

[2022-01-14 11:00] areyacloud commented on #135
9f3402c
742444b
check on these two commits plz, same seed，they generate different privkey and address

[2022-01-14 11:33] areyacloud commented on #136
![image](https://user-images.githubusercontent.com/35396544/149508891-bcd6936b-89d7-4d9f-a1e7-916d738a91fe.png)

still stuck here

[2022-01-14 17:06] dindinw commented on #135
@areyacloud
you can try https://github.com/jamesvan2019/qitmeer-wallet/tree/wallet if you can't wait for the PR review process.  thanks

[2022-01-14 18:14] jamesvan2019 commented on #136
This [PR](https://github.com/Qitmeer/qitmeer/pull/694) can solve the problem

[2022-01-16 03:17] dindinw commented on #136
@areyacloud the bug should have been resolved by the latest version of [the qitmeer master branch](https://github.com/Qitmeer/qitmeer/tree/master)

[2022-01-16 03:17] #136 closed, assigned to nobody

[2022-03-14 11:24] #135 closed, assigned to jamesvan2019

[2022-10-31 08:09] #133 closed, assigned to gzh1612

[2022-10-31 08:10] #131 closed, assigned to gzh1612

[2022-10-31 08:11] #130 closed, assigned to gzh1612

[2022-10-31 08:11] #129 closed, assigned to gzh1612

[2022-11-01 08:48] #128 closed, assigned to gzh1612

[2022-11-01 08:49] #127 closed, assigned to bCoder778

[2022-11-01 08:49] #124 closed, assigned to gzh1612